<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalyearproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalYearProject">
        <activity
            android:name=".analyze_speech"
            android:exported="false" />
        <activity
            android:name=".useful_tips"
            android:exported="false" />
        <activity
            android:name=".view_report"
            android:exported="false" />
        <activity
            android:name=".top_stories"
            android:exported="false" />
        <activity
            android:name=".view_profile"
            android:exported="false" />
        <activity
            android:name=".dashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>